.dox-username {
	font-size: 2em;
}

.images {
	position: relative;
	> .banner {
		> img {
			width: 100%;
			height: auto;
		}
	}

	> img.profile {
		position: absolute;
		left: 64px;
		bottom: -32px;
		width: 128px;
		height: 128px;
	}

	margin-bottom: 64px;
}
