{% extends "page.html" %}

{% block title %}dox{% endblock %}

{% block content %}
<h1> Deep scan Twitter user </h1>
<hr>
<form id="dox">
		<div class="form-group">
			<label for="username">Username to scan</label>
			<input name="username" class="dox-username" type="text" placeholder="@realDonaldTrump" autocomplete="off"/>
		</div>
</form>
{% endblock %}

{% block js %}
<script type="text/javascript">
window.onload = () => {
	document.querySelector('#dox').addEventListener('submit', redirectToScan)
}
const redirectToScan = e => {
	e.preventDefault()
	let val = document.querySelector('input[name="username"]').value
	console.log(val)
	window.location.pathname = `/dox/load/${val}`
	return false
}
</script>
{% endblock %}
